/** 
 The common CSS for all the 51bank pages. 

 Any 51bank page should be structured like
 <divHeader><a menulinks><divBillboard>
 <divMain> 

 The header html-snippet should be identical across the pages with the exception that each page might 
 have a different hldMenuItem (short for 'highlighted' menu item)

**/ 



body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size:16px;
  line-height:1.6;
  overflow-x: hidden; /** required because some components (e.g. error messages exceed the horizontal width) **/
}

/** standard links **/  
a                { color: #428bca; text-decoration: none; }
a:focus, a:hover { color: #2a6496; }
h1 { font-size:49px; font-weight: normal; }
h2 { font-size:27px; font-weight: normal; }

button { cursor : pointer; }


#divBGHeader {
  background-color:#04B;
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:60px;
}

#divHeader {
  background-color:#04B;
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:60px;
  padding:0 30px;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
}

#divBGBillboard {
  background-color:#028;
  position:absolute;
  top:60px;
  left:0;
  right:0;
  height:20px;
}

#divBillboard {
  background-color:#028;
  position:absolute;
  top:60px;
  left:0;
  right:0;
  height:20px;
  font-family:Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  text-align:right;
  line-height:20px;
  font-size:12px;
  padding:0 30px 0 0;
  color:white;  
}


#divMenuItems a {
  display:inline-block;
  line-height:60px;
  padding:0 20px; 
  color:white;
  text-decoration:none; 
}

#divMenuItems a:hover {
  color:goldenrod;
}


#hldMenuItem {
  line-height:58px !important;
  border-bottom:2px solid white !important;
}


#divMain {
  position:absolute;
  top:100px;
  left:30px;
  right:30px;
  padding:0 0 60px 0; 
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
}


/** 
 * A sniplet is an html fragment like  
 *
 * <div class="sniplet">                                                                     <<< the sniplet
 *    <div>Listing all customers</div>                                                       <<< a description of what the snippet of code is for (can be empty)
 *    <pre><code class='language-curl'>curl https://api.51bank.io/customers/</code></pre>    <<< the snippet of code
 * </div>
**/
.sniplet { margin:10px 0 10px 0; 
  border-radius: 6px; 
  overflow: hidden;
}
.sniplet pre { margin: 0 }
.sniplet div { background:lightblue; padding:6px 12px; }
